

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fee Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Pay/Status</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr *ngFor="let item of fee,let i = index">
                    <th scope="row">{{i+1}}</th>
                        <td>{{item.FeeType}}</td>
                        <td>{{item.Amount}}</td>
                        <td>{{item.Description}}</td>
                        <td *ngIf="item.Status=='Unpaid'"><button type="button" class="btn btn-primary btn-sm" (click)="PayNow(item.Amount, item.FeeType ,item._id)">Pay</button></td>
                        <td *ngIf="item.Status=='Paid'">Fee Paid</td>
                  </tr>
                  
                </tbody>
              </table>
        



      
     

  
     
            


