

<mat-card class="sidebar-card">
    <mat-card-header>
      <mat-card-title>TEACHER MANAGEMENT</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <button (click)="navigateToTeachersList()"  class="students-list-button">

          <mat-icon>people</mat-icon>
          <span class="nav-label">Teachers List</span>

      </button>
      <br>
      <br>
      <button (click)="navigateToAddTeacher()"  class="add-student-button">

          <mat-icon>edit</mat-icon>
          <span class="nav-label">Add Teacher</span>

      </button>
    </mat-card-content>
  </mat-card>
