

<mat-card class="sidebar-card">
    <mat-card-header>
      <mat-card-title>TEACHER MANAGEMENT</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <button (click)="navigateToTeachersList()" href="http://localhost:3000/Teacher/list">
        
          <mat-icon>people</mat-icon>
          <span class="nav-label">Teachers List</span>
        
      </button>
      <br>
      <br>
      <button (click)="navigateToAddTeacher()">
        
          <mat-icon>edit</mat-icon>
          <span class="nav-label">Add Teacher</span>
       
      </button>
    </mat-card-content>
  </mat-card>
  