/* Styles for form container */
.form-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  max-height: 80vh; /* Limiting height to 80% of viewport height */
  overflow-y: auto; /* Adding vertical scroll if content exceeds container height */
  margin-left: 250px;
  background-color: #6bb2ff8b;
  margin-top: 20px;
}

/* Styles for form rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
/* Styles for mat-form-field */
mat-form-field {
  flex: 1 1 calc(50% - 10px); /* Each field takes up half of the width with some margin */
  margin-right: 20px; /* Adjust the spacing between fields */
  margin-bottom: 20px; /* Adjust the spacing between rows */
}

/* Styles for mat-label */
mat-label {
  font-weight: bold;
}
.form-row mat-form-field:last-child {
  margin-right: 0;
}
/* Styles for mat-select */
mat-select {
  width: 100%;
}

/* Styles for mat-error */
mat-error {
  font-size: 12px;
  color: red;
}

/* Styles for mat-icon-button */
mat-icon-button {
  background: transparent;
}

/* Styles for submit button */
.submitbutton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitbutton:hover {
  background-color: #0056b3;
}

mat-card-content{
  width:1100px

}
