<div class="container-xl px-4 mt-4" id="ms">
    <div class="col-xl-8">
        <!-- Account details card -->
        <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form>
                    <!-- Form Group (username) -->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" name="username" [(ngModel)]="username" [disabled]="isEditable">
                    </div>
                    <!-- Form Row -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name) -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">Full name</label>
                            <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" name="Fullname" [(ngModel)]="Fullname" [disabled]="isEditable">
                        </div>
                        <!-- Form Group (last name) -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Department</label>
                            <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" name="Department" [(ngModel)]="Department" [disabled]="isEditable">
                        </div>
                    </div>
                    <!-- Form Row -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (organization name) -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputOrgName">Year</label>
                            <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" name="Year" [(ngModel)]="Year" [disabled]="isEditable">
                        </div>
                        <!-- Form Group (location) -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLocation">Semester</label>
                            <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" name="Semester" [(ngModel)]="Semester" [disabled]="isEditable">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLocation">District</label>
                            <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" name="District" [(ngModel)]="District" [disabled]="isEditable">
                        </div>
                    </div>
                    <!-- Form Group (email address) -->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress">Email address</label>
                        <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" name="Email" [(ngModel)]="Email" [disabled]="isEditable">
                    </div>
                    <!-- Form Row -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number) -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Password</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" name="Password" [(ngModel)]="Password" [disabled]="isEditable">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Address</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" name="Password" [(ngModel)]="Address" [disabled]="isEditable">
                        </div>
                        <!-- Form Group (birthday) -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBirthday">Subject</label>
                            <input class="form-control" id="inputBirthday" type="text" placeholder="Enter your birthday" name="Gender" [(ngModel)]="Gender" [disabled]="isEditable">
                        </div>
                    </div>
                    <!-- Save changes button -->
                    <button class="btn btn-primary" type="button" (click)="toggleEdit()">{{ isEditable ? 'Edit Changes' : 'Save Changes' }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
