table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
    border: 2px solid #333;
    margin-top: 200px;
    background-color: #f2f2f2dc;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #333;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#divmain {
  margin: 0 auto;
  max-width: 800px; /* Adjust width as needed */
  padding: 20px;
  align-items: center;
  justify-content: center;
}

/* Styles for the form fields */
mat-form-field {
  width: 75%;
  margin-bottom: 20px;
}

/* Styles for the submit button */
.example-button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Center the form heading */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

mat-card{
  height: 88vh;
  background-color: rgba(255, 255, 255, 0.244);
}

.back{
  background-color: rgba(255, 255, 255, 0.92);
  height: 88vh;
}