body {
  background-color: #f8f9fa; /* Set background color */
}
.simple-login-container {
  background-color: #fff; /* Set container background color */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  max-width: 400px; /* Set maximum width */
  margin: 0 auto; /* Center align */
  padding: 30px; /* Add padding */
  margin-top: 100px; /* Add top margin */
}
.simple-login-container h2 {
  text-align: center; /* Center align heading */
  margin-bottom: 20px; /* Add bottom margin */
}
.form-control {
  border: 1px solid #ced4da; /* Add border */
  border-radius: 5px; /* Add border radius */
}
button[type="submit"] {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius */
  padding: 10px 20px; /* Add padding */
  cursor: pointer; /* Set cursor to pointer */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  width: 100%; /* Set button width */
}
button[type="submit"]:hover {
  background-color: #0056b3; /* Button hover background color */
}
