<h1 style="text-align: center">TIME TABLE</h1>

<mat-form-field>
  <mat-label>Select Subject</mat-label>
  <mat-select>
    <mat-option *ngFor="let day of Days" [value]="day.value">{{ day.viewValue }}</mat-option>
  </mat-select>
</mat-form-field>

<div class="timetable">
  <table>
    <caption>
      Timetable
    </caption>
    <thead>
      <tr>
        <th>Day/Period</th>
        <th>I<br />9:30-10:20</th>
        <th>II<br />10:20-11:10</th>
        <th>III<br />11:10-12:00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Monday</b></td>
        <td>Eng</td>
        <td>Mat</td>
        <td>Che</td>
      </tr>
      <tr>
        <td><b>Tuesday</b></td>
        <td>Eng</td>
        <td>Che</td>
        <td>Mat</td>
      </tr>
      <tr>
        <td><b>Wednesday</b></td>
        <td>Mat</td>
        <td>phy</td>
        <td>Eng</td>
      </tr>
    </tbody>
  </table>
</div>
