<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened
    ><h4>DEPARTMENTS</h4>
    <br />
    <div class="contianer">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> CS </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex">
          <mat-card class="contain" (click)="getValue(card1)">
            <mat-card-content class="sem" >
              <h6 #card1>S1</h6>
            </mat-card-content>
          </mat-card>
          <mat-card class="contain" (click)="getValue(card2)">
            <mat-card-content class="sem">
              <h6 #card2>S3</h6>
            </mat-card-content>
          </mat-card>
          <mat-card class="contain" (click)="getValue(card3)">
            <mat-card-content class="sem">
              <h6 #card3>S5</h6>
            </mat-card-content>
          </mat-card>
          <mat-card class="contain" (click)="getValue(card4)">
            <mat-card-content class="sem">
              <h6 #card4>S7</h6>
            </mat-card-content>
          </mat-card>
        </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> ME </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <br>
    <div class="addition">
      <button mat-raised-button (click)="nclass.resetClass()">Add Table</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
   <app-table></app-table>
  </mat-drawer-content>
</mat-drawer-container>
