<mat-spinner *ngIf=""></mat-spinner>

<div class="card-container">
  <div class="'heading">
    <h1>DASHBOARD</h1>
  </div>
  <div class="image">
    <img class="image" src="../../../assets/logo.png" alt="">
  </div>
  
  <div class="table">
  <ng-container *ngFor="let contentItem of contentData" >


  <ng-container *ngIf="studentFlag && studentItems.includes(contentItem.name)">
    <div class="card" (click)="navigateToStudentPage(contentItem.name)">
      
        <div class="card-content">
          <img [src]="contentItem.icon" alt="{{ contentItem.name }} Icon" />
          <h2>{{ contentItem.name }}</h2>
        </div>


    </div>
  </ng-container>
    <ng-container *ngIf="teacherFlag && teacherItems.includes(contentItem.name)">
      <div class="card" (click)="navigateToTeacherPage(contentItem.name)">
        
          <div class="card-content">
            <img [src]="contentItem.icon" alt="{{ contentItem.name }} Icon" />
            <h2>{{ contentItem.name }}</h2>
          </div>
  
  
      </div>
    </ng-container>
    <ng-container *ngIf="adminFlag && adminItems.includes(contentItem.name)">
      <div class="card d-flex flex-wrap" (click)="navigateToPage(contentItem.name)">
        
          <div class="card-content" >
            <img [src]="contentItem.icon" alt="{{ contentItem.name }} Icon" />
            <h2>{{ contentItem.name }}</h2>
          </div>
  
        </div>
        <br>
    </ng-container>
  </ng-container>
</div>
<!-- <div class="container">

<mat-card class="example-card">
  <mat-card-header>
    
    <mat-card-title><h3><b>VISION</b></h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h5>To Enlighten the young minds with knownledge that are needed</h5>
    <h5>for them to become quality engineers and contribute to the society</h5>
    <mat-divider></mat-divider>
  </mat-card-content>
 
</mat-card>
<mat-card class="example-card2">
  <mat-card-header>
    
    <mat-card-title><h3><b>MISSION</b></h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h5>To provide with top quality education in the country</h5>
    <h5>to all the aspiring students in engineering</h5>
    <mat-divider></mat-divider>
  </mat-card-content>
 
</mat-card>

</div> -->



<!-- <div class="card-container" (click)="navigateToPage(contentItem.name)" *ngFor="let contentItem of contentData" class="card">
  <div class="card-content">
    <img [src]="contentItem.icon" alt="{{ contentItem.name }} Icon" />
    <h2>{{ contentItem.name }}</h2>
  </div>
</div> -->
