/* src/app/pages/home/home.component.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(240, 248, 255, 0.573);
  width: 95%;
  height: 800px;
  
}

.card {
  
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  justify-content: space-evenly;
  box-sizing: border-box; 
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 240px;
  margin: 15px;
  
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content h2 {
  font-size: 1.2em;
  margin-top: 10px; /* Increase margin for better visibility */
}

.card-content img {
  width: 100%; /* Make the image fill the entire card */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover{
  /* z-index: 1; */
  background-color: rgb(150, 222, 251);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  opacity: 0.9;
  border: 1px solid rgb(183, 237, 255)
}

.heading{
  margin-bottom: -300px;
}

.table{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: -1100px;
  /* margin-right: -200px; */
  margin-left: 700px;
  /* margin-bottom: 700px; */
}

h1 {
  font-size: 1.5em; /* Adjust font size as needed */
  font-weight: bold; /* or normal, depending on your preference */
  color: #333; /* Adjust color to fit your design */
  /* margin-top: 20px; Adjust spacing as needed */
  /* margin-bottom: 500px; Adjust spacing as needed */
  letter-spacing: 8px; /* Adjust letter spacing as needed */
  background-color: #c8f6fadd; /* Adjust background color to fit your design */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional: Adds rounded corners */
  word-spacing: 12px;
  position: relative;
  margin-top: -340px;
  width: 115vh;
  margin-left: 425px;
  margin-right: -1350px;
}

.image{
 width: 62%;
 margin-top: 15px;
 margin-left: -380px;
}

.example-card {
  max-width: 400px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: -350px;
  margin-left: 500px;
  width: 1000px;
  padding: 30px;
}

h3{
  align-items: center;
  font-style: italic

}

h5{
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-style: italic;
}

.example-card2 {
  max-width: 400px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: -270px;
  margin-left: 1050px;
  width: 1500px;
  padding: 40px;
 
}

.container{
  background-color: rgb(225, 42, 42);
}




