<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">


  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  
  
  <ng-container *ngFor="let column of columnsToDisplaywithoutselect; let i = index" [matColumnDef]="column" >
    
    <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
    <td mat-cell *matCellDef="let element" (click)="passing(element._id)"> {{ element[column] }} </td>
  </ng-container>
  

  <ng-container matColumnDef="expand" >
    <th mat-header-cell *matHeaderCellDef aria-label="row actions" >&nbsp;</th>
    <td mat-cell *matCellDef="let element" >
      <button mat-icon-button aria-label="expand row" (click)="toggleExpand(); $event.stopPropagation()">
        <mat-icon *ngIf="expandendData === element">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="expandendData !== element">keyboard_arrow_down</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail" >
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" >
      <div class="example-element-detail" [@detailExpand]="element == expandendData ? 'expanded' : 'collapsed'" >
        <table *ngIf="id.includes(element._id)" >
          <tr>
            <th>Fee Type</th>
            <th>Amount</th>
            <th>Description</th>
            <th>status</th>
          </tr >
          <tr *ngFor="let details of feelist">
            <ng-container *ngIf="element._id==details.studentid" >

              <td>{{details.FeeType}}</td>    
              <td>{{details.Amount}}</td>
              <td>{{details.Description}}</td>
              <td>Unpaid</td>
            </ng-container>
          </tr>
        </table>

        
        <button mat-raised-button color="primary" (click)="popUp(element._id)">Assign</button>
        
        <div *ngIf="show.includes(element._id)">
          <p>No fee assigned</p>
        </div>
      </div>
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandendData === element" (click)="expandendData = expandendData === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<button mat-raised-button color="primary" (click)="assignToAll()" [disabled]="!isAssignToAllActive()">Assign To All</button>
