<ng-container *ngIf="!showclass">
<h1 style="text-align: center">TIME TABLE</h1>
<div [formGroup]="tableform" (submit)="onSubmit()" >
  <mat-form-field>
    <mat-label>Select Day</mat-label>
    <mat-select formControlName="Day" required id="daySelect">
      <mat-option *ngFor="let day of Days" [value]="day.viewValue">{{ day.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Hour</mat-label>
    <mat-select formControlName="Hour" required>
      <mat-option *ngFor="let hour of Hours" [value]="hour.viewValue">{{ hour.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Department</mat-label>
    <mat-select formControlName="Department" required (selectionChange)="filterTeachersByDepartment($event.value)">
      <mat-option *ngFor="let department of Departments" [value]="department.viewValue">{{ department.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Semester</mat-label>
    <mat-select formControlName="Semester" required (selectionChange)="filteredsubjectsbysemester($event.value)">
      <mat-option *ngFor="let semester of Semesters" [value]="semester.viewValue">{{ semester.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Subject</mat-label>
    <mat-select formControlName="Subject" required>
      <mat-option *ngFor="let subject of finalsub" [value]="subject">{{ subject }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Teacher</mat-label>
    <mat-select formControlName="Teacher" required>
      <mat-option *ngFor="let teacher of filteredTeachers" [value]="teacher.Fullname">{{ teacher.Fullname }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="example-button-row">
  <button mat-raised-button color="grey" type="submit" (click)="onSubmit()" >Add TimeTable</button>
</div>
</ng-container>

<div class="timetable" *ngIf="showclass">
  <table>
    <caption>
      Timetable
    </caption>
    <thead>
      <tr>
        <th>Day/Period</th>
        <th>I<br />9:30-10:20</th>
        <th>II<br />10:20-11:10</th>
        <th>III<br />11:10-12:00</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let i of newtimetable">
        <td><b>Monday</b></td>
        <td>{{i}}</td>

      </tr> -->
    </tbody>
  </table>
</div>



