

<mat-card class="sidebar-card">
    <mat-card-header>
      <mat-card-title>Fee Assigning</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <button (click)="navigateToassign()">
        
          <mat-icon>people</mat-icon>
          <span class="nav-label">Assign Fee</span>
        
      </button>
      <br>
      <br>
      <button (click)="navigateToList()">
        
          <mat-icon>edit</mat-icon>
          <span class="nav-label">Due check</span>
       
      </button>
    </mat-card-content>
  </mat-card>
  
